<%- include('../templates/header') %>
<h1>Acceso</h1>
<form method="post" action="/login">
    <input type="text" name="email" id="email" class="control" placeholder="email" value="<%= email %>">
    <input type="password" name="password" id="password" class="control" placeholder="password">
    <input type="submit" value="Login" class=" btn btn-primary">
    <br>
    <label><%= error %></label>
</form>
<%- include('../templates/footer') %>